<div class="forgotWrapper">
  <div class="forgotCard shadow">
    <div class="card-body overflow-hidden">
      <form class="form-signin">       
        <div class="col-md-12 overflow-hidden p-0 mb-3">
          <h3 class="col-md-6 col-sm-12 pull-left text-primary font-weight-bold p-0">Reset<br> Password</h3>      
          <div class="col-md-6 col-sm-12 pull-right mb-4 p-0">
            <a href="./"><img src="assets/images/logo.png"></a>
          </div>
        </div>
        <div>
          <p class="small">A reset password link will be sent to the following email address</p>
        </div>
        <div class="form-group">
          <label class="m-0 small">Email Address</label>
          <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        </div>  
        <div class="card-footer overflow-hidden">
          <div class="quickLinks pull-left">
            <a href="login" class="text-primary small">Already Have Account ?</a><br>
            <a href="signup" class="text-primary small">Create New Account ?</a></br>
            <a href="./" class="text-primary small">Back to website ?</a>
          </div>
          <button class="btn-primary px-2 pull-right" type="submit">Login</button> 
        </div>  
      </form>
    </div>
  </div>
</div>